/* line 2, ../sass/partials/_modules.scss */
.border-light-blue {
  border-color: #00b6f5 !important;
}

/* line 8, ../sass/partials/_modules.scss */
.coming-soon-s1 {
  background-position: center top;
}

/* line 14, ../sass/partials/_modules.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 17, ../sass/partials/_modules.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 20, ../sass/partials/_modules.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 23, ../sass/partials/_modules.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 29, ../sass/partials/_modules.scss */
.text-blue {
  color: #0051a1;
}
/* line 32, ../sass/partials/_modules.scss */
.text-light-blue {
  color: #00b6f5;
}

/*landscape*/
@media all and (orientation: landscape) {
  /* line 40, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    padding-top: 5%;
  }

  /* line 44, ../sass/partials/_modules.scss */
  .logo-cs {
    width: 15%;
  }

  /* line 47, ../sass/partials/_modules.scss */
  .text-cs {
    font-size: 1.5em;
  }
}
@media all and (orientation: landscape) and (max-width: 667px) {
  /* line 54, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_sm_h.jpg");
    background-size: cover;
  }
}
@media all and (orientation: landscape) and (min-width: 668px) {
  /* line 62, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_lg_h.jpg");
    background-size: cover;
  }
}
@media all and (orientation: landscape) and (min-width: 992px) {
  /* line 71, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_lg_h.jpg");
    background-size: cover;
    padding-top: 7.5%;
  }
  /* line 75, ../sass/partials/_modules.scss */
  .coming-soon .logo-cs {
    width: 20%;
  }
  /* line 78, ../sass/partials/_modules.scss */
  .coming-soon .text-cs {
    font-size: 1.8em;
  }
}
@media all and (orientation: landscape) and (min-width: 1367px) {
  /* line 86, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_xxl_h.jpg");
    background-size: cover;
  }
}
/*portait*/
@media all and (orientation: portrait) {
  /* line 95, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    padding-top: 35%;
  }
  /* line 98, ../sass/partials/_modules.scss */
  .coming-soon .logo-cs {
    width: 70%;
  }
}
@media all and (orientation: portrait) and (max-height: 667px) {
  /* line 107, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_sm_v.jpg");
    background-size: cover;
  }
}
@media all and (orientation: portrait) and (min-height: 668px) {
  /* line 115, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_lg_v.jpg");
    background-size: cover;
  }
}
@media all and (orientation: portrait) and (min-height: 1367px) {
  /* line 123, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    background-image: url("../img/bg/coming_soon_xxl_v.jpg");
    background-size: cover;
  }
}
