/* line 35, ../sass/partials/_mixins.scss */
.about-s1 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.about-s2 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.about-s3 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.about-s4 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.about-s5 {
  background-attachment: scroll;
  background-image: url(../img/about/about-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s2.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/contact/contact-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.index-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.services-s1 {
  background-attachment: scroll;
  background-image: url(../img/services/services-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.services-s2 {
  background-attachment: scroll;
  background-image: url();
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.services-s3 {
  background-attachment: scroll;
  background-image: url(../img/services/services-s3.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.services-s4 {
  background-attachment: scroll;
  background-image: url(../img/services/services-s4.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.services-s5 {
  background-attachment: scroll;
  background-image: url(../img/services/services-s5.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 35, ../sass/partials/_mixins.scss */
.team-s1 {
  background-attachment: scroll;
  background-image: url(../img/team/team-s1.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules.scss */
.about-s2, .about-s5 {
  background-color: #aaa;
  background-blend-mode: multiply;
}

/* line 10, ../sass/partials/_modules.scss */
.bg-dark-blue {
  background-color: #004364;
}

/* line 16, ../sass/partials/_modules.scss */
.border-light-blue {
  border-color: #00b6f5 !important;
  color: #fff;
}

/* line 23, ../sass/partials/_modules.scss */
.btn-green {
  background-image: linear-gradient(180deg, #b8df6e, #066524);
  border: none !important;
  color: #fff;
  text-shadow: 1px 1px 3px #066524;
}

/* line 32, ../sass/partials/_modules.scss */
.coming-soon-s1 {
  background-position: center top;
}

/* line 37, ../sass/partials/_modules.scss */
.contact-s3 {
  background-color: #999 !important;
  background-blend-mode: multiply;
}

/* line 44, ../sass/partials/_modules.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 47, ../sass/partials/_modules.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 50, ../sass/partials/_modules.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 53, ../sass/partials/_modules.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 59, ../sass/partials/_modules.scss */
.navbar-brand {
  background-color: white;
  border-radius: 50%;
  padding: 5px 0px;
  margin: 0px 10px;
}

/* line 68, ../sass/partials/_modules.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 71, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}

/* line 77, ../sass/partials/_modules.scss */
.services-s5 {
  background-color: #777;
  background-blend-mode: multiply;
}

/* line 84, ../sass/partials/_modules.scss */
.text-blue {
  color: #0051a1;
}
/* line 87, ../sass/partials/_modules.scss */
.text-light-blue {
  color: #00b6f5;
}
/* line 90, ../sass/partials/_modules.scss */
.text-light-green {
  color: #b8df6e;
}
/* line 93, ../sass/partials/_modules.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #004364;
}

@media all and (max-width: 767px) {
  /* line 100, ../sass/partials/_modules.scss */
  .about-s1, .about-s3, .about-s4 {
    background-color: #777 !important;
    background-blend-mode: multiply;
  }

  /* line 106, ../sass/partials/_modules.scss */
  .contact-s1, .contact-s2 {
    background-color: #777 !important;
    background-blend-mode: multiply;
  }

  /* line 111, ../sass/partials/_modules.scss */
  .header {
    background-color: #004364;
    opacity: 0.8;
  }

  /* line 116, ../sass/partials/_modules.scss */
  .index-s1 {
    background-color: #777;
    background-blend-mode: multiply;
  }

  /* line 122, ../sass/partials/_modules.scss */
  .services-s1, .services-s3, .services-s4 {
    background-color: #777 !important;
    background-blend-mode: multiply;
  }
}
/*landscape*/
@media all and (orientation: landscape) {
  /* line 132, ../sass/partials/_modules.scss */
  .coming-soon-s1 {
    padding-top: 5%;
  }

  /* line 136, ../sass/partials/_modules.scss */
  .logo-cs {
    width: 15%;
  }

  /* line 139, ../sass/partials/_modules.scss */
  .text-cs {
    font-size: 1.5em;
  }
}
