$color__blue: #0051a1;
$color__dark-blue: #004364;
$color__light-green: #b8df6e;
$color__dark-green: #066524;
$color__white: #fff;
$color__light-blue: #00b6f5;
$bg__about: 
    "../img/about/about-s1.jpg",
    "../img/about/about-s2.jpg",
    "../img/about/about-s3.jpg",
    "../img/about/about-s4.jpg",
    "../img/about/about-s5.jpg";
$bg__contact: 
    "../img/contact/contact-s1.jpg",
    "../img/contact/contact-s2.jpg",
    "../img/contact/contact-s3.jpg";
$bg__index: "../img/index/index-s1.jpg";
$bg__services: 
    "../img/services/services-s1.jpg",
    "",
    "../img/services/services-s3.jpg",
    "../img/services/services-s4.jpg",
    "../img/services/services-s5.jpg";
$bg__team: "../img/team/team-s1.jpg";
$bg__array: 
    $bg__about,
    $bg__contact,
    $bg__index,
    $bg__services,
    $bg__team;
$bg__classes:
    "about",
    "contact",
    "index",
    "services",
    "team";
$text__shadow: 1px 1px 3px $color__dark-blue;
$text__shadow-green: 1px 1px 3px $color__dark-green;

